.contacto-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    min-height: 100vh;
    padding: 50px 0;
    gap: 50px;

}

.contacto-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #3c1f1a;
}

.contacto-tarjetero {
    display: flex;
    gap: 20px;
    cursor: pointer;

}

.contacto-tarjeta:hover {
    border: 1px solid #c32007;
}

.contacto-tarjeta {
    background-color: #c32007;
    border-radius: 10px;
    border: 1px solid #F5E9DC;
}

.contacto-instacontainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contacto-logo {
    font-size: 80px;
    padding: 30px;
    color: #F5E9DC;
}

.contacto-logo:hover {
    color: #000;

}

.contacto-texto {
    text-align: center;
    width: 400px;
}

.contacto-texto p {
    font-size: 24px;
}

.contacto-image {
    width: 300px;
}

@media (max-width: 768px) {
    .contacto-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .contacto-instacontainer{
        margin: 0;
        padding: 0;
        width: 300px;
    }
    .contacto-texto p{
        padding: 0;
        margin: 10px 0;
        font-size: 20px;
    }
    .contacto-texto{
        width: 290px;
    }
    .contacto-logo {
        padding: 5px;
        font-size: 50px;
    }
    .contacto-image{
        width: 200px;
    }
    .contacto-instacontainer{
        width: 290px;
    }
    .contacto-container h1 {
        font-size: 30px;
    }
}