.product-card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 700px;
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.home-h2 {
    font-size: 4rem;
    margin: 20px;
    color: #4E342E;
}


@media (max-width: 768px) {
  .product-card-container{
    width: 300px;
    margin-bottom: 30px;
  }
  .home-h2{
    font-size: 30px;
  }
}